.sign-up-page {
  width: 100vw;
  height: 100%;
  background-color: var(--color-light);

  display: flex;
  align-items: center;
  justify-content: center;
  .form-container {
    background-color: white;
    padding: 4rem 6rem;
    margin: 3rem;
    border-radius: 4rem;
    border: 2px solid var(--color-dark);

    border-bottom: 4px solid var(--color-dark);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      h1 {
        font-size: 3.5rem;
        font-weight: 600;
        text-align: center;
      }
      h3 {
        font-size: 1rem;
        font-weight: 500;
      }
    }
    form {
      width: 100%;
      max-width: 30rem;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 0.5rem;

      label {
        font-size: 1rem;
        font-weight: 500;
      }
      input {
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 3rem;
        border: 2px solid var(--color-dark);
        border-bottom: 4px solid var(--color-dark);
        font-size: 1.5rem;

        outline: none;
      }

      .full-name {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
        column-gap: 1rem;
        row-gap: 0.5rem;

        #firstName {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        #lastName {
          grid-column: 2/3;
          grid-row: 2/3;
        }
      }
      button {
        background-color: var(--color-dark);
        color: var(--color-light);
        border-radius: 3rem;
        padding: 0.5rem 2rem;
        font-weight: 500;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
    footer {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      * {
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}
